body{
    color:white;
    background:paleturquoise;
}
.heading{
    width:80%;
    font-size:22px;
}
#Camera{
    border:2px dashed black;
    width:350px;
    height:300px;
}
.nameofobjects , #result_object_name , #result_object_accuracy{
    color:rgb(192, 135, 192);
}